header {
    background-image: url("me.jpg");
    font-size: xx-large;
    color: white;
    padding: 50px;
    animation: mymove 3s infinite;
}

@keyframes mymove {
    0% {
        color: #f30000
    }

    100% {
        color: #f3c500
    }
}

body {
    background-color: #0B132B;
    font-family: Helvetica, sans-serif;
    color: white;
}

h1 {
    font-weight: bold;
}

h2 {
    color: #ff8080;
    font-weight: bold;
}

ul.navmenu {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #3A506B;
    top: 0;
    width: 100%;
    font-size: large;
    font-weight: bold;
}

.menu {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #65AFFF;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    text-align: center;
}

.education_flex-container,
.work_flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.education_flex-item,
.work_flex-item {
    background-color: #1C2541;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    flex-grow: 1;
    width: 70%;
}

#box {
    fill: #65AFFF;
}

table td+td {
    border-left: 2px solid #65AFFF;
}

td {
    padding: 20px;
    text-align: left;
}